<nav class="nav-wrapper">
  <div class="nav">
    <a href="#">twzzlr</a>
    <div class="actions">
      <% if @is_signed_in %>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button class="sign-out">sign out</button>
        </form>
      <% else %>
        <button data-toggle="modal" data-target="#signIn">Sign In</button>
        <button data-toggle="modal" data-target="#signUp">Sign Up</button>
      <% end %>
    </div>

    <%= render partial: 'sessions/new' %>
    <%= render partial: 'users/new' %>
  </div>
</nav>
